# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
.coverage.*
htmlcov/

# Build Files
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Model Files (ignore only if they are generated locally)
#*.pkl
*.joblib

# Docker
*.tar

# Temporary Files
*.tmp
*.temp

# Python Version
.python-version